# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\0.프로그래밍\21년도\BBC 인터랙티브 페이지 코로나19가 바꿀 사무실의 미래 클론\1mincoding-bbc-covid19\1mincoding-bbc-covid19\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
